<!--home.handlebars-->
<h1>Companies</h1>
{{#each companies}}
    <article>
        <a href={{companyUrl id}}>
            <span>{{this.name}}</span>
            <img src={{this.logoUrl}} width="500"/>
        </a>
    </article>
{{/each}}