<!--home.handlebars-->
<h1>Companies</h1>
{{#each companies}}
    <article>
        <a href={{companyUrl this.id}}>
            <img src={{this.logoUrl}} width="500"/>
            <h2>{{this.name}}</h2>
        </a>
    </article>
    <br>
{{/each}}

<h1>Create a new company</h1>
<form action="/companies" method="POST">
    <label>
        Name:
        <input name="name" id="company-name-input" type="text" required>
    </label>
    <br>
    <label>
        LogoUrl:
        <input name="logoUrl" id="logoUrl-input" type="url" required>
    </label>
    <br>
    <button>Create</button>
</form>