<!--home.handlebars-->
<h1>Locations</h1>
{{#each locations}}
    <article>
        <h3>{{this.name}}</h3>
        <p>Capacity: {{this.capacity}}</p>
        <p>Manager: {{this.manager}}</p>
    </article>
{{/each}}
