<h2>List of my favourite Legue champions</h2>
{{> lovedchampions}}
<h2>List of my most hated Legue champions</h2>
{{> hatedchampions}}

<h2>List of suggested champions</h2>
{{#if listExists}}
<ul>
    {{#each suggestedChampions}}
    <li class={{this.lane}}>{{this.name}}</li>
    {{/each}}
</ul>
{{/if}}
